html,body{
	height: 100%;
	letter-spacing:1px;
	font-family:PingFangSC-Regular !important;
	background-size: cover !important;
}

body,.mui-content{
	background-color: initial;
}

#logo {
	max-width: 200px;
}

.p_text {
	color: #fff;
	text-align: center;
	font-size: 1.8em;
}

.mui-input-group:before {
	background-color: initial;
}


.login-user{
	height: 20px !important;
    width: 20px !important;
    background-repeat: round !important;
	background: url('../images/login/user.png');
}
.login-pwd{
	height: 20px !important;
    width: 20px !important;
    background-repeat: round !important;
	background: url('../images/login/pwd.png');
}

@media screen and (max-width: 374px){
	body{
		background: #25a5ff url(../images/login/bg.png) no-repeat fixed center;
	}
	body,input,textarea,p{font-size: 14px;}
	.mui-input-row>label{line-height: 1.5}
	.p_text {margin-top:13%;}
	.button-group button{padding:0;height:48px;}
	.mui-input-group .mui-input-row {height:46px;line-height:42px;}
	.mui-icon:not(.mui-icon-eye) {margin:10px 12px;}
	.mui-input-row .mui-input-password~.mui-icon-eye {top:12px;}
}

@media screen and (min-width: 375px) and (max-width: 413px){
	body{
		background: #25a5ff url(../images/login/bg.png) no-repeat fixed center;
	}
	body,input,textarea,p{font-size: 15px;}
	.mui-input-row>label{line-height: 1.2}
	.p_text {margin-top:22%;}
	.button-group button{padding:0;height:60px;}
	.mui-input-group .mui-input-row {height: 56px;line-height:52px;}
	.mui-icon:not(.mui-icon-eye) {margin:14px 16px;}
	.mui-input-row .mui-input-password~.mui-icon-eye {top:16px;}
}

@media screen and (min-width: 414px) {
	body{
		background: #25a5ff url(../images/login/bg@3x.png) no-repeat fixed center;
	}
	body,input,textarea,p{font-size: 16px;}
	.mui-input-row>label{line-height: 1.18}
	.p_text {margin-top:26%;}
	.button-group button{padding:0;height:60px;}
	.mui-input-group .mui-input-row {height: 56px;line-height:52px;}
	.mui-icon:not(.mui-icon-eye) {margin:14px 16px;}
	.mui-input-row .mui-input-password~.mui-icon-eye {top:16px;}
}
:-moz-placeholder {
	color: #fff; opacity:1;
}

::-moz-placeholder {
	color: #fff;opacity:1;
}

input:-ms-input-placeholder{
	color: #fff;opacity:1;
}

input::-webkit-input-placeholder{
	color: #fff;opacity:1;
}



.mui-bar-nav~.mui-content{
	padding-top:60px;
}
.mui-input-row .mui-input-password~.mui-icon-eye{
	color: #FFF;
	opacity: 0.65;
}
.mui-input-row .mui-input-password~.mui-icon-eye.mui-active{
	color: #FFF;
	opacity: 1;
}

.img-wrapper img{margin: 0 auto;display: block;height: auto;}


.mui-input-group{margin:28px 32px 20px 32px;background: inherit;}

.mui-input-group .mui-input-row{
	margin: 20px 0;
	border: 2px solid #fff;
	border-radius: 30px;
}
.mui-input-group input{
	/*padding-left:42px;*/
	color: #fff;
	text-align: center;
	font-size: 1.1em;
}

.mui-input-group input:last-child {
    background: inherit;
}
.mui-button-row{padding-top: 0;}

.button-group{margin-top:20px;}



#login-btn{
	background-color: #FEC63A;
	border-color: #FEC63A;
	border-radius:30px;
	margin-bottom: 15px;
	box-shadow:0 8px 9px 0 rgba(7,155,237,0.81);
	color: #4f3c04;
}
.mui-btn-block {
    font-size:1.3em !important;
}
#reg-btn{color: #25A5FF;border-color: #25A5FF;border-radius:25px;margin-bottom:25px;}

.link-group a{color:#33a2f1;font-size:14px;}

.mui-input-group:after,.mui-input-group .mui-input-row:after{height: 0;}

.mui-icon:not(.mui-icon-eye){
	position: absolute;
	color: #fff;
    /*width: 16px;*/
    /*height: 18px;*/
    /*background-size: 16px 18px;*/
}

/*.mui-icon-locked{transform: scaleY(.7);}*/
  	

.icon-account{
	background-image: url(../images/mobile@2x.png);
}
.icon-password{
    background-image: url(../images/password@2x.png);
}

.bottom-desc{
	text-align: center;
	font-size: 12px;
	color: #FFF;
	position: fixed;
	bottom: 8px;
	left: 0;
	right: 0;
	opacity: 0.65;
}