.works-desc:first-child{
	margin-top: 0;
}

.works-desc{
	border: 1px solid #eee;
	background: #fff;
	padding: 12px;
	box-shadow:0 0 19px 0 rgba(0,0,0,0.18);
	margin-top: 12px;
}
.works-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 12px;
}
.works-username{
	font-size:1em !important;
	opacity: .6;
	color: #65728f;
}
.works-time{
	float: right;
}
.works-content{
	margin-top: 12px;
	color:#65728f;
}

.works-desc-pic{
	width:100%;
	/*margin: 0 2px;*/
	height: 100%;
}
.works-desc-video{
	width:100%;
	margin: 5px;
}
.works-desc-audio{
	width:100%;
	margin: 5px;
}


.works-answer{
	margin: 12px 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
}

.works-answer:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}
.icon-line{
	height: 24px;
}

.mui-icon-extra-like{
	color: #333;
	font-size: 14px;
	float: right;
	margin-right: 20px;
}
.mui-icon-extra-comment{
	color: #333;
	font-size: 14px;
	float: right;
}

.item-guaji, .item-call {
	padding: 0;
}


.bottom-div{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #fff;
	height: 60px;
	line-height: 40px;
	padding: 0 6px;
	border-top: 1px solid #eee;
}
.bottom-div input{
	margin-bottom: 0;
	height: 32px;
	border: 1px solid #ddd;
	margin-left: 6px;
}
.send-button{
	width: 62px;
    padding: 5.5px;
    margin-top: 4px;
    border: 1px solid #6E7B94;
    color: #6E7B94;
}


.icon-reply{
	width:24px;
}
.works-label{
	vertical-align: super;
}
