<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>活动详情</title>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/icons-extra.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
  	<link href="../css/foot.css" rel="stylesheet"/>
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/activityDetails.css" rel="stylesheet"/>
</head>
<body>
	<div id="actiity-detail-content">
		
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">活动详情</h1>
		<a id="activity_every_one_work" class="mui-pull-right top-edit">大家作品</a>
		<a id="activity_reply_detail"   class="mui-pull-right top-edit" style="left:50px; right:250px">活动集锦</a>
	</header>

	<!--<nav id="main_bar" class="mui-bar mui-bar-tab">
		<a class="mui-tab-item" href="courseAll.html">
			<span class="mui-icon tabbar-ns-1 foot-icon"></span>
			<span class="mui-tab-label">课程</span>
		</a>
		<a class="mui-tab-item mui-active" href="activityList.html">
			<span class="mui-icon tabbar-ns-2 foot-icon"></span>
			<span class="mui-tab-label">活动</span>
		</a>
		<a class="mui-tab-item" href="scShowAll.html">
			<span class="mui-icon tabbar-ns-3 foot-icon"></span>
			<span class="mui-tab-label">成果</span>
		</a>
		<a class="mui-tab-item " href="personalCenter.html">
			<span class="mui-icon tabbar-ns-4 foot-icon"></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</nav>-->
	 
 
	<div class="mui-content">

		<div class="show-desc">
			<div class="show-desc-right">
				<div v-if="courseInfo.actEnd==1 && courseInfo.hasPart==1 && userInfo.roleType==3" id="activity_detail_quit" class="ac-end-quit">退出</div>
				<div v-else-if="courseInfo.actEnd==1 && userInfo.roleType==3"  id="activity_detail_join" class="ac-end-join">加入</div>
				<div v-else-if="courseInfo.actEnd==1 && userInfo.roleType==2" class="ac-end-join">进行中</div>
				<div v-else id="activity_detail_join_end" class="ac-end">结束</div>
				<p style="font-size: 12px !important;">剩余名额{{courseInfo.surplustCount}}人</p>
			</div>
			<div class="show-desc-left">
				<p class="show-desc-title">{{courseInfo.actName}}</p>
				<p class="show-desc-content">发布人：{{courseInfo.actOperName}}</p>
				<p class="show-desc-content">参与人：{{courseInfo.actParticipant}}</p>
				<p class="show-desc-content">发布日期：{{courseInfo.actTime}}</p>
			</div>

		</div>

		<div class="show-desc-text">
			<div class="show-desc-top">
				活动内容
			</div>
			<p  class="content">
				{{courseInfo.actDesc}}
			</p>


			<img :src="courseInfo.actFiles" class="desc-pic"/>
			<!--<img src="../images/bigicon3.png" class="desc-pic"/> -->
		</div>


		<div class="show-desc-text">
			<div class="show-desc-top">
				老师寄语
			</div>
			<p  class="content">{{courseInfo.actSendWord}}</p>

		</div>
		<div style="padding:32px;background-color:#F7F7F7;">
			<button  v-if="userInfo.roleType==3 && courseInfo.hasPart==1" @tap="open_activity_my_works()" id="btn_activity_my_works" type="button" 
				class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn">我的作品</button>
			<button v-if="userInfo.roleType==2 && courseInfo.actFine==1" id="btn_activity_my_works_show" type="button" 
				class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn">推荐学校秀</button>
		</div>
	</div>
	
</div>





	
<script type="text/javascript" charset="UTF-8">
  	mui.init();
  	var webview_every_one_works = null // 大家作品
  	var webview_activity_reply_detail = null // 活动集锦
  	var webview_activity_my_works = null // 我的作品
  	var activityId=0;
  	var vm_activity_detail = new Vue({
		el: '#actiity-detail-content',
		data: {
			userInfo:{roleType:2},
			courseInfo:{actEnd:1,
				hasPart:1,
				actFine:1
		    }
		} 
	});
	
	
	document.addEventListener('get_activity_detail', function(event) {
		activityId = event.detail.activityId;
		if(!activityId) {
			return;
		} 
		console.info("activityId:  "+activityId);
		vm_activity_detail.userInfo=app.getState();
			activityDetailPage(); 
	});
	
	 function activityDetailPage(){
	 	app.getActivityDetail(activityId,function(data){
			if(data.code==0){
				vm_activity_detail.courseInfo=data.object; 
				//vm.classList =  data.objectList;
			}else{
				mui.toast(data.msg);
			}
		});
 	}
	//重写返回逻辑
	mui.back = function() {
		plus.webview.currentWebview().hide("auto", 300);
	}
	
	//窗口隐藏时，重置页面数据
	mui.plusReady(function () {
		var self = plus.webview.currentWebview();
		self.addEventListener("hide",function (e) {
			window.scrollTo(0, 0);
			//vm.resetData();
		},false);
		 
		 
//	    mui('#main_bar').on('tap', 'a', function(e) {
//		    //获取目标子页的id
//		    var targetTab = this.getAttribute('href');
//		    window.location.href=targetTab;
//		});
		
		webview_every_one_works = mui.preload({
			url: 'everyoneWorks.html',
			id: 'everyone_works',
			styles: {
				"render": "always",
				"popGesture": "hide",
				"bounce": "vertical" 
			}
		});
		
		webview_activity_reply_detail = mui.preload({
			url: 'activityReply.html',
			id: 'activity_reply',
			styles: {
				"render": "always",
				"popGesture": "hide",
				"bounce": "vertical" 
			}
		});
		
		webview_activity_my_works= mui.preload({
			url: 'myWorks.html',
			id: 'my_works',
			styles: {"render": "always","popGesture": "hide","bounce": "vertical"}
		});
		
//		mui('#actiity-detail-content').on('tap','#btn_activity_my_works',function(){
//			//console.info("this.href:  " + this.href);
//			 open_activity_my_works();
//		}); 
		
		mui('#actiity-detail-content').on('tap','#btn_activity_my_works_show',function(){
			//console.info("this.href:  " + this.href);
			 post_activity_my_works_show();
		}); 
		
		
		mui('#actiity-detail-content').on('tap','#activity_every_one_work',function(){
			//console.info("this.href:  " + this.href);
			 open_every_one_works();
		}); 
		mui('#actiity-detail-content').on('tap','#activity_reply_detail',function(){
			//console.info("this.href:  " + this.href);
			 open_activity_reply_detail();
		}); 
		
		mui('#actiity-detail-content').on('tap','#activity_detail_join',function(){
			//console.info("this.href:  " + this.href);
			 post_activity_detail_join();
		}); 
		mui('#actiity-detail-content').on('tap','#activity_detail_quit',function(){
			//console.info("this.href:  " + this.href);
			 post_activity_detail_join();
		}); 
		
		mui('#actiity-detail-content').on('tap','#activity_detail_join_end',function(){
			mui.toast("活动已经结束！");
		}); 
		 
	})
	
	/**
	 * 打开活动集锦
	 */
	function open_activity_reply_detail() {			
		//触发子窗口变更详情
		mui.fire(webview_activity_reply_detail, 'get_activity_reply_detail', {
					activityId: activityId,
					activityInfo: vm_activity_detail.courseInfo
			});
 
			setTimeout(function () {
				webview_activity_reply_detail.show("slide-in-right", 300);
		},150);
	}
	
	/**
	 * 打开活动集锦
	 */
	function open_every_one_works() {			
		//触发子窗口变更详情
		mui.fire(webview_every_one_works, 'get_every_one_works', {
				activityId: activityId
			});
 
			setTimeout(function () {
				webview_every_one_works.show("slide-in-right", 300);
		},150);
	}
	
	function open_activity_my_works() {
		console.info("open_activity_my_works");
		//触发子窗口变更详情
		mui.fire(webview_activity_my_works, 'get_activity_my_works', {
				activityId: activityId,
				actName:vm_activity_detail.courseInfo.actName,
				aswId:vm_activity_detail.courseInfo.aswId,
				actEnd:vm_activity_detail.courseInfo.actEnd
			});
 
		setTimeout(function () {
				webview_activity_my_works.show("slide-in-right", 300);
		},150);
	}
	
	
	
	function post_activity_my_works_show(){
		 
		var userInfo = app.getState();
		var data={};
		console.info(JSON.stringify(vm_activity_detail.courseInfo));
		data={
			manageId:userInfo.manageId,
			actId:vm_activity_detail.courseInfo.actId,
			actFine:2
			}

		app.postShowRecommend(data,function(data){
			if(data.code==0){
			}
			mui.toast(data.msg);
		}); 
	}
	
	function post_activity_detail_join(type){
		var userInfo = app.getState();
		var data={};
		console.info(JSON.stringify(vm_activity_detail.courseInfo));
		data={
				manageId:userInfo.manageId,
				actionType:type,//  加入：join；  退出：signout
				asActId:vm_activity_detail.courseInfo.actId,
				asGradeId:userInfo.studentsDetail.stdGrade,
				asClassId:userInfo.studentsDetail.stdClass,
				asTcId:vm_activity_detail.courseInfo.actTcId,
				asId:vm_activity_detail.courseInfo.asId
			}
		if(vm_activity_detail.courseInfo.hasPart==1 ){
			data.actionType="signout" ;
		}else{
			data.actionType="join";
		}
		
		app.postActivityDetailJoin(data,function(data){
			if(data.code==0){				
				activityDetailPage(); 
			}
			mui.toast(data.msg);
		});
		 
	}
	 
</script>
</body>
</html>