<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>活动集锦</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/activityReply.css" rel="stylesheet"/>
	<link href="../css/H5MediaFile.css" rel="stylesheet"/>
</head>
<body>
<div id="activity_reply_content">
	
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">活动集锦</h1>
	</header>
	<div class="mui-content">
		<form >
			<div>
				<label class="label-desc">活动主题 </label>
				<input type="text" v-model="activityInfo.actName" readonly="readonly" class="input-content" data-input-password="3" placeholder="请输入活动主题">
			</div>
			<div class="out-div">
				<label class="label-desc-cg">活动集锦 </label>
				<textarea :readonly="commentInfo.ahId>0" id="textarea" rows="3" v-model="commentInfo.ahDesc" placeholder="请输入活动体会" class="text-content"></textarea>
			</div>

			<ul id="history" class="dlist" style="text-align:left;padding:0;">
				<li v-for="item in selectFileList"  :class="getShowStyle(item)">
					
					<span v-if="getDisplayType(item.patch)==1" class='iplay'>
						<font class='aname'   @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
					 	<span v-if="commentInfo.ahId==0" class='mui-icon mui-icon-close close-color3'   @tap='delUploadFileList(item.patch)'></span>
						<img class='file-icon' src='../images/school/video-icon.png' @tap='displayFile(item.patch)'/>
					</span>
					<span v-else-if="getDisplayType(item.patch)==2" class='iplay'>
						<font class='aname'  @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
						<span v-if="commentInfo.ahId==0" class='mui-icon mui-icon-close close-color1'  @tap='delUploadFileList(item.patch)'></span>
						<img class='file-icon' src='../images/school/photo-icon.png' @tap='displayFile(item.patch)'/>
					</span>
					<span v-else class='iplay'>
						<font class='aname'  @tap='playAudio(item.patch)'>{{ getFileName(item)}}</font>
						<span v-if="commentInfo.ahId==0" class='mui-icon mui-icon-close close-color2'  @tap='delUploadFileList(item.patch)'></span>
						<img class='file-icon' src='../images/school/record-icon.png' @tap='playAudio(item.patch)'/>
					</span>
				</li>
			</ul>
			
			<div v-if="commentInfo.ahId==0" class="button buttonContianer">
				<div class="button button1" id="addAudio"></div>
				<div class="button button2" id="addCameraImages"></div>
				<div class="button button3" id="addVideos"></div>
				<div class="button button4" id="addImages"></div>
				<div class="button button5"></div>
			</div>
			<div v-if="commentInfo.ahId==0" class="div-tips">附件上限为9个。</div>

		</form>
	</div>
	<div style="height:180px;"></div>
	<button v-if="commentInfo.ahId==0" id="btn_activity_reply_post"  type="button" class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn"> 保 存 </button>

	<div id="play" class="rp">
		<div id="ptime" class="ptime">00:00:00/00:00:00</div><br/>
		<div id="progress" class="progress"><div id="schedule" class="schedule"></div></div>
		<br/>
		<div class="stop" onclick="stopPlay()"></div>
	</div>
	<div id="record" class="rp">
		<div style="width:100%;height:20%;"></div>
		<div class="rprogress"><div class="rschedule"></div></div>
		<br/>
		<div id="rtime" class="rtime">00:00:00</div><br/>
		<div class="stop" onclick="stopRecord()"></div>
	</div>


</div>
	<script type="text/javascript" src="../js/mui.picker.js" ></script>
	<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
	<script type="text/javascript" src="../js/H5Plus.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/immersed.js" ></script>
	<script type="text/javascript" charset="UTF-8">
		mui.init();
		var count = 0;


 
  	var vm_activity_reply = new Vue({
		el: '#activity_reply_content',
		data: {
			commentInfo:{
				ahId:0,
				manageId:0,
				ahStudentId:0,//  学生id／教师ID
				ahDesc:'',//  活动集锦   必填
				ahStudentName:'',//  学生姓名
				ahActId:0,//  与t_activity表的act_id关联 必填
				ahSponsorType:'',//  活动发起者类型：1：学生；2：教师
				activityHighlightsFilesList:[]  //活动集锦附件
				
			},
			activityInfo:{actName:''},
			selectFileList:[]
		},
			methods:{
				getDisplayType:function(patch){
						var type=0;
						//console.info(patch);
						if(patch){
							var suffix = patch.substr(patch.lastIndexOf('.'));
							if(suffix=='.mov' || suffix=='.3gp' || suffix=='.mp4' || suffix=='.avi'){
								type=1;
							}else if( suffix=='.amr' ||  suffix=='.mp3' || suffix=='.m4a' ){
								type=3;
							}
						 	else  if( suffix=='.jpg' ||  suffix=='.png' || suffix=='.gif' ){
								type=2;
							}
						}
						return type;
				},
				getFileName:function(item){
					return item.patch.substr(item.patch.lastIndexOf('/')+1);
				},
				getShowStyle:function(item){
					var cssStyle="";
					var suffix = item.patch.substr(item.patch.lastIndexOf('.'));
					if(item.type==1){
						if(suffix=='.mov' || suffix=='.3gp' || suffix=='.mp4' || suffix=='.avi'){
							cssStyle="ditem file-color3";
						}else{
							cssStyle="ditem file-color1";
						}
					}else{
						cssStyle="ditem file-color2";
					}
					return cssStyle;
				}
			}
	});
	 

		document.addEventListener('get_activity_reply_detail', function(event) {
 			vm_activity_reply.selectFileList=[];
 			vm_activity_reply.commentInfo={};
			vm_activity_reply.activityInfo = event.detail.activityInfo;
			console.info(JSON.stringify(vm_activity_reply.activityInfo));
 			vm_activity_reply.commentInfo.ahActId = vm_activity_reply.activityInfo.actId;
 			if(vm_activity_reply.commentInfo.ahActId>0){
 				getActivityReplyInfo();
 			}
		});

		//窗口隐藏时，重置页面数据
		mui.plusReady(function () {
			var self = plus.webview.currentWebview();
			self.addEventListener("hide",function (e) {
				window.scrollTo(0, 0);
				//vm.resetData();
			},false);

 
		$(".buttonContianer").on('tap',function(){
			count ++
			if(count % 2 == 1){
				$(this).addClass('show')
				$(this).children().animate({
					opacity: 1
				})
			}else{
				$(this).removeClass('show')
				$(this).children().animate({
					opacity: 0
				})
			}
		})
			mui('#activity_reply_content').on('tap', '#btn_activity_reply_post', function(e) {
			  post_activity_reply();
			});
			
			
	        //录音
	        document.getElementById('addAudio').addEventListener('tap', function() {
	        	if(vm_activity_reply.selectFileList.length>=9){
	        		mui.toast('只可以上传9个附件！');
	        	}else{
	            	startRecord(activityReplyCallback);
	            }
	        });
	
	        //拍照上传
	        document.getElementById('addCameraImages').addEventListener('tap', function() {
	        	if(vm_activity_reply.selectFileList.length>=9){
	        		mui.toast('只可以上传9个附件！');
	        	}else{
	            	cameraAndUpload(activityReplyCallback);
	            }
	        });
	        //拍视频上传
	        document.getElementById('addVideos').addEventListener('tap', function() {
	        	if(vm_activity_reply.selectFileList.length>=9){
	        		mui.toast('只可以上传9个附件！');
	        	}else{
	            	videoAndUpload(activityReplyCallback);
	            }
	        });
	
	        //相册选择照片上传
	        document.getElementById('addImages').addEventListener('tap', function() {
	        	if(vm_activity_reply.selectFileList.length>=9){
	        		mui.toast('只可以上传9个附件！');
	        	}else{
	            	albumAndUpload(9,activityReplyCallback);
	            }
	        });
	        
		})
		
		function getActivityReplyInfo(){
	    	app.getActivityReplyInfo(vm_activity_reply.commentInfo.ahActId,function(data){
				if(data.code==0){
					if(data.object &&　data.object.ahActId>0)
					{
						vm_activity_reply.commentInfo=data.object;   
						vm_activity_reply.selectFileList.splice(0,vm_activity_reply.selectFileList.length);
						for(var i in vm_activity_reply.commentInfo.activityHighlightsFilesList)
						{
							vm_activity_reply.selectFileList.push(
								{
									patch:vm_activity_reply.commentInfo.activityHighlightsFilesList[i].aswfFiles,
									type:vm_activity_reply.getDisplayType(vm_activity_reply.commentInfo.activityHighlightsFilesList[i].aswfFiles)
								}
							);
						}
						console.info(JSON.stringify(vm_activity_reply.selectFileList));
					}
				}
				mui.toast(data.msg);
			});
		}
		
	 	function post_activity_reply(){
				var data={};
				data=vm_activity_reply.commentInfo;			
				var userInfo = app.getState(); 
				data.manageId=userInfo.manageId;
				//data.ahStudentId=userInfo.manageId 
				data.ahSponsorType=userInfo.roleType==2?2:1; 
				
				//onsole.info(JSON.stringify(data));
				app.postActivityReply(data,function(data){
					if(data.code==0){
						selectFileList.splice(0,selectFileList.length);
						mui.back();
					}
					mui.toast(data.msg);
				});
				 
	  	}

		function getActivityReplyFileList(fileList){ 
			var activityHighlightsFilesList = [];
			for(var i in fileList){
				activityHighlightsFilesList.push({aswfFiles:fileList[i].pathAll,aswfActId:vm_activity_reply.commentInfo.ahActId});				
			}
			return activityHighlightsFilesList;
		}

		//重写返回逻辑
		mui.back = function() {
			plus.webview.currentWebview().hide("auto", 300);
		}
		
		// 回调
	    var activityReplyCallback = function(data){
	    	if(data.code==0){
	    		console.info(JSON.stringify(data));
	    		if(data.code==0){
					vm_activity_reply.selectFileList=selectFileList;
					if(vm_activity_reply.selectFileList.length>9){
						vm_activity_reply.selectFileList.splice(9,vm_activity_reply.selectFileList.length-9);
						mui.toast('只可以上传9个附件！');
					}
					//console.info(JSON.stringify(data.objectList ));
					var activityHighlightsFilesList = getActivityReplyFileList(data.objectList);
					//console.info(JSON.stringify(activityHighlightsFilesList));
					vm_activity_reply.commentInfo.activityHighlightsFilesList=vm_activity_reply.commentInfo.activityHighlightsFilesList.concat(activityHighlightsFilesList);
					
	    		}
	    	}
			mui.toast(data.msg);
	    }

	</script>
</body>
</html>