<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>新活动申请</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/addActivityReply.css" rel="stylesheet"/>
	<link href="../css/H5MediaFile.css" rel="stylesheet"/>
	
</head>
<body>
	<div id="add_activity_content">
		
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">新活动申请</h1>
	</header>
	<div class="mui-content">
		<form >
			<div>
				<label class="label-desc">活动主题 </label>
				<input type="text" v-model="activityInfo.actName" class="input-content" data-input-password="3" placeholder="请输入活动主题">
			</div>
			<div>
				<div class="label-desc-min">最大人数 </div>
				<img id="number_plus" src="../images/school/plus.png" class="plus-icon"/>
				<input type="text" v-model="activityInfo.actNum"  data-input-password="3" 
					style="height: 32px !important;
	line-height: 32px !important;margin-left: 150px;width: 80px;padding: 0 10px;">
				<img id="number_minus"  src="../images/school/minus.png" class="minus-icon"/>
			</div>
			<div>
				<label class="label-desc">参与人 </label>
				<input type="text" v-model="activityInfo.actParticipant" class="input-content" data-input-password="3" placeholder="请选择参与人">
			</div>
			<div class="out-div">
				<label class="label-desc-cg">个人成果 </label>
				<textarea id="textarea" v-model="activityInfo.actDesc" rows="3" placeholder="请输入活动体会" class="text-content"></textarea>
			</div>
			
			<ul id="history" class="dlist" style="text-align:left;padding:0;">
				<li v-for="item in selectFileList">
					<span v-if="item.type==1" class='iplay'>
						<font class='aname'   @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
					 	<span class='mui-icon mui-icon-close'   @tap='delUploadFileList(item.patch)'></span>
					</span>
					<span v-else class='iplay'>
						<font class='aname'  @tap='playAudio(item.patch)'>{{ getFileName(item)}}</font> 
						<span class='mui-icon mui-icon-close'  @tap='delUploadFileList(item.patch)'></span>
					</span>
				</li>
			</ul>
			
			<div class="button buttonContianer">
				<div class="button button1" id="addAudio"></div>
				<div class="button button2" id="addCameraImages"></div>
				<div class="button button3" id="addVideos"></div>
				<div class="button button4" id="addImages"></div>
				<div class="button button5"></div>
			</div>
			<div class="div-tips">附件上限为10个。</div>
		</form>
	</div>
	<div style="height:180px;"></div>
	
	<button  id="btn_add_activity_post" type="button" class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn"> 保 存 </button>	
	
	<div id="play" class="rp">
		<div id="ptime" class="ptime">00:00:00/00:00:00</div><br/>
		<div id="progress" class="progress"><div id="schedule" class="schedule"></div></div>
		<br/>
		<div class="stop" onclick="stopPlay()"></div>
	</div>
	<div id="record" class="rp">
		<div style="width:100%;height:20%;"></div>
		<div class="rprogress"><div class="rschedule"></div></div>
		<br/>
		<div id="rtime" class="rtime">00:00:00</div><br/>
		<div class="stop" onclick="stopRecord()"></div>
	</div>
	
	
	</div>
	<script type="text/javascript" src="../js/mui.picker.js" ></script>
	<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
	<script type="text/javascript" src="../js/H5Plus.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/immersed.js" ></script>
	<script type="text/javascript" charset="UTF-8">
	    mui.init();
	    var count = 0
	    
	     

	   	var vm_add_activity = new Vue({
			el: '#add_activity_content',
			data: {
				activityInfo:{					
					manageId:0,
					actName:'',
					actDesc:'',
					actNum:0,//  最大参与人数          必填
					actStatus:1,//  1:待审核；2：审核通过；3：审核未通过
					actParticipant:'',//  活动参与人
					actFiles:'' //  活动附件 
				},
				selectFileList:[]
			},
			methods:{
				getFileName:function(item){
					return item.patch.substr(item.patch.lastIndexOf('/')+1);
				}
			}
		});
		
		document.addEventListener('get_activity_add_detail', function(event) { 
		});
	
		
		//重写返回逻辑
		mui.back = function() {
			plus.webview.currentWebview().hide("auto", 300);
		}
		
		//窗口隐藏时，重置页面数据
		mui.plusReady(function () {
			var self = plus.webview.currentWebview();
			self.addEventListener("hide",function (e) {
				window.scrollTo(0, 0);
				//vm.resetData();
			},false);
			 
			$(".buttonContianer").on('tap',function(){
		        count ++
		        if(count % 2 == 1){
		            $(this).addClass('show')
		            $(this).children().animate({
		                opacity: 1
		            })
		            $()
		        }else{
		            $(this).removeClass('show')
		            $(this).children().animate({
		                opacity: 0
		            })
		        }
		    })
			 
			 //录音
	        document.getElementById('addAudio').addEventListener('tap', function() {
	        	if(vm_add_activity.selectFileList.length>=1){
	        		mui.toast('只可以上传一个附件！');
	        	}else{
	            	startRecord(addActivityCallback);
	            }
	        });
	        
	    		//拍照上传
		    document.getElementById('addCameraImages').addEventListener('tap', function() {
	        	if(vm_add_activity.selectFileList.length>=1){
	        		mui.toast('只可以上传一个附件！');
	        	}else{
		    		cameraAndUpload(addActivityCallback);
	            }
		    });
	    		//拍视频上传
	        document.getElementById('addVideos').addEventListener('tap', function() {
	        	if(vm_add_activity.selectFileList.length>=1){
	        		mui.toast('只可以上传一个附件！');
	        	}else{
	            	videoAndUpload(addActivityCallback);
	            }
	        });
			
			//相册选择照片上传
		    document.getElementById('addImages').addEventListener('tap', function() {
	        	if(vm_add_activity.selectFileList.length>=1){
	        		mui.toast('只可以上传一个附件！');
	        	}else{
		    		albumAndUpload(0,addActivityCallback);
	            }
		    });
			 
			mui("#add_activity_content").on('tap','#number_plus',function(){
				 vm_add_activity.activityInfo.actNum=vm_add_activity.activityInfo.actNum+1;
			}); 
		
			mui("#add_activity_content").on('tap','#number_minus',function(){
				 vm_add_activity.activityInfo.actNum= vm_add_activity.activityInfo.actNum>0?vm_add_activity.activityInfo.actNum-1:0;
			});
			mui("#add_activity_content").on('tap','#btn_add_activity_post',function(){
				post_add_activity();
			});
		})
		
		// 回调
	    var addActivityCallback = function(data){
	    	if(data.code==0){
	    		console.info(JSON.stringify(data));
	    		if(data.code==0){
	        		vm_add_activity.activityInfo.actFiles=data.objectList[0].pathAll;
					vm_add_activity.selectFileList=selectFileList;
					if(vm_add_activity.selectFileList.length>1){
						vm_add_activity.selectFileList.splice(1,vm_add_activity.selectFileList.length-1);
						mui.toast('只可以上传一个附件！');
					}
	    		}
	    	}
			mui.toast(data.msg);
	    }
	    
	    function post_add_activity(){
	    	var userInfo = app.getState();
			var data={};
			data=vm_add_activity.activityInfo;
			data.manageId=userInfo.manageId
			console.info(JSON.stringify(data));
			app.postAddActivity(data,function(data){
				if(data.code==0){
					mui.back(); 
				}
				mui.toast(data.msg);
			});
	    }
	</script>
</body>
</html>