<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>学习体会</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/myWorks.css" rel="stylesheet"/>
	<link href="../css/H5MediaFile.css" rel="stylesheet"/>
</head>
<body>
	<div  id="course_experience_content" >
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">学习体会</h1>
	</header>
	<div class="mui-content">

		<form > 
			<div class="out-div">
				<label class="label-desc-cg">学习体会 </label>
				<textarea id="textarea" v-model="experienceInfo.cceDesc" rows="3" placeholder="请输入学习体会" class="text-content"></textarea>
			</div> 
		
			<ul id="history" class="dlist" style="text-align:left;padding:0;">
				<li v-for="item in selectFileList">
					<span v-if="item.type==1" class='iplay'>
						<font class='aname'   @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
					 	<span class='mui-icon mui-icon-close'   @tap='delUploadFileList(item.patch)'></span>
					</span>
					<span v-else class='iplay'>
						<font class='aname'  @tap='playAudio(item.patch)'>{{ getFileName(item)}}</font> 
						<span class='mui-icon mui-icon-close'  @tap='delUploadFileList(item.patch)'></span>
					</span>
				</li>
			</ul>
		
		<div class="button buttonContianer"><!--
			<div class="button button1"></div>
			<div class="button button2"></div>
			<div class="button button3"></div>
			<div class="button button4"></div>-->
			<div class="button button1" id="addAudio"></div>
			<div class="button button2" id="addCameraImages"></div>
			<div class="button button3" id="addVideos"></div>
			<div class="button button4" id="addImages"></div>
			<div class="button button5"></div>
				
		</div>
		<div class="div-tips">附件上限为1个。</div>
 
		</form> 
	</div>

	<button id="btn_course_exprience_post" type="button" class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn"> 保 存 </button>
	
	<div id="play" class="rp">
		<div id="ptime" class="ptime">00:00:00/00:00:00</div><br/>
		<div id="progress" class="progress"><div id="schedule" class="schedule"></div></div>
		<br/>
		<div class="stop" onclick="stopPlay()"></div>
	</div>
	<div id="record" class="rp">
		<div style="width:100%;height:20%;"></div>
		<div class="rprogress"><div class="rschedule"></div></div>
		<br/>
		<div id="rtime" class="rtime">00:00:00</div><br/>
		<div class="stop" onclick="stopRecord()"></div>
	</div>

</div>
<script type="text/javascript" src="../js/mui.picker.js" ></script>
<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
<script type="text/javascript" src="../js/H5Plus.js" ></script>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/immersed.js" ></script>
<script type="text/javascript" charset="UTF-8">
    mui.init();
    var count = 0
    var vm_course_exprience = new Vue({
		el: '#course_experience_content',
		data: {
			experienceInfo:{
				manageId:0,
				cceDesc:'',
				cceOperId:0,
				cceOperName:'',
				cceOperType:0,
				cceRcId:0,
				cceChapId:0,
				cceChapClassId:0,
				cceFiles:'',
				cceTmId:0,
				cceTcId:0
			},
			selectFileList:[]
		},
		methods:{
			getFileName:function(item){
				return item.patch.substr(item.patch.lastIndexOf('/')+1);
			}
		}
	});
    document.addEventListener('get_course_detail_exprience', function(event) {
		vm_course_exprience.experienceInfo.cceRcId = event.detail.rcId;
		vm_course_exprience.experienceInfo.cceChapId = event.detail.chapId;
		vm_course_exprience.experienceInfo.cceChapClassId = event.detail.classId;
		vm_course_exprience.experienceInfo.cceTmId = event.detail.tmId;
		vm_course_exprience.experienceInfo.cceTcId = event.detail.tcId;
		
		console.info(vm_course_exprience.experienceInfo.cceRcId);
	});
    
    mui.plusReady(function(){
    	 
		var self = plus.webview.currentWebview();
		self.addEventListener("hide",function (e) {
			window.scrollTo(0, 0);
			//vm.resetData();
		},false);
		
    	mui('#course_experience_content').on('tap','#btn_course_exprience_post',function(){
			var userInfo = app.getState();
			var data={};
			data=vm_course_exprience.experienceInfo;
			data.manageId=userInfo.manageId;
			if(userInfo.roleType==3){
				data.cceOperId=userInfo.studentsDetail.stdId;
				data.cceOperName=userInfo.studentsDetail.stdRealName;
				data.cceOperType=1;
			}else{
				data.cceOperId=userInfo.teacherDetail.thId;
				data.cceOperName=userInfo.teacherDetail.thName;
				data.cceOperType=2;
			}
			console.info(JSON.stringify(data));
			app.postCourseExperience(data,function(data){
				if(data.code==0){	
					selectFileList.splice(0,selectFileList.length);			
					mui.back(); 
				}
				mui.toast(data.msg);
			});
			 
		}); 
		
		
		
		
		$(".buttonContianer").on('tap',function(){
		    count ++
		    if(count % 2 == 1){
		        $(this).addClass('show')
		        $(this).children().animate({
		            opacity: 1
		        })
		    }else{
		        $(this).removeClass('show')
		        $(this).children().animate({
		            opacity: 0
		        })
		    }
		}) 

        //录音
        document.getElementById('addAudio').addEventListener('tap', function() {
        	 if(vm_course_exprience.selectFileList.length>=1){
        	 	mui.toast('只可以上传一个附件！');
        	 }
        	 else{
           	 	startRecord(courseExperienceCallback); 
        	 }
        });

        //拍照上传
        document.getElementById('addCameraImages').addEventListener('tap', function() {
             if(vm_course_exprience.selectFileList.length>=1){
        	 	mui.toast('只可以上传一个附件！');
        	 }
        	 else{
        	 	cameraAndUpload(courseExperienceCallback);
        	 }
        });
        //拍视频上传
        document.getElementById('addVideos').addEventListener('tap', function() {
             if(vm_course_exprience.selectFileList.length>=1){
        	 	mui.toast('只可以上传一个附件！');
        	 }
        	 else{
        	 	
	            videoAndUpload(courseExperienceCallback);
	           }
        });

        //相册选择照片上传
        document.getElementById('addImages').addEventListener('tap', function() {
             if(vm_course_exprience.selectFileList.length>=1){
        	 	mui.toast('只可以上传一个附件！');
        	 }
        	 else{
        	 	
	            albumAndUpload(1,courseExperienceCallback);
	           }
        });
    })
     
    mui.back = function() {
		plus.webview.currentWebview().hide("auto", 300);
	}
    
    // 回调
    var courseExperienceCallback = function(data){
    	if(data.code==0){
    		console.info(JSON.stringify(data));
    		if(data.code==0){
        		vm_course_exprience.experienceInfo.cceFiles=data.objectList[0].pathAll;
				vm_course_exprience.selectFileList=selectFileList;
				if(vm_course_exprience.selectFileList.length>1){
					vm_course_exprience.selectFileList.splice(1,vm_course_exprience.selectFileList.length-1);
					mui.toast('只可以上传一个附件！');
				}
    		}
    	}
		mui.toast(data.msg);
    }
    
</script>
</body>
</html>