<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>大家作品</title>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../js/mui.pullToRefresh.js"></script>
	<script src="../js/mui.pullToRefresh.material.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/icons-extra.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
  	<link href="../css/foot.css" rel="stylesheet"/>
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/everyoneWorks.css" rel="stylesheet"/>
    <link href="../css/school/pushCommon.css" rel="stylesheet"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">大家作品</h1>
	</header>
	<div class="mui-content">



<div id="slider" class="mui-slider mui-fullscreen" style="top:64px;padding-bottom: 0px;">				
			<div class="mui-slider-group">
				<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">									
								<li v-for="item in workList" class="mui-table-view-cell" style="padding: 11px 0px;">
									<div class="works-desc">
										<div class="works-desc-top">
											<img v-if="item.showStudentPic!=''" :src="item.showStudentPic" class="works-img"/>
											<img v-else src="../images/school/head-pic.png" class="works-img"/>
											<p class="works-username">{{item.aswStudentName}}<label class="works-time">{{item.aswTime}}</label></p>
											<p class="works-content">{{item.aswDesc}}</p>
							 
											<div >
												<img v-for="fileItem in item.activityStudentsWorksFilesList" :src="fileIten.aswfFiles" class="works-desc-pic"/>
												 
											</div>
							
											<div class="icon-line">
												<span class="mui-icon-extra mui-icon-extra-comment"> {{item.aswCommentNum}}</span>
												<span class="mui-icon-extra mui-icon-extra-like"> {{item.aswPointNum}}</span>
											</div>
							
											<div v-for="commentItem in itme.activityCommentList" class="works-answer">
												<img v-if="commentItem.showStudentPic!=''" :src="commentItem.showStudentPic" class="works-img"/>
												<img v-else src="../images/bigicon1.png" class="works-img"/>
												<p class="works-username">{{commentItem.actComReviewer}}<label class="works-time">{{commentItem.actComTime}}</label></p>
												<p class="works-content">{{commentItem.actComDesc}}</p>
											</div> 
							
										</div>
							
									</div>
								</li>
								 
							</ul>
						</div>
					</div>
				</div>
			</div>
									
									
		
 
	</div>

	
<script type="text/javascript" charset="UTF-8">
  	mui.init();
  	
  	var vm_everyone_work = new Vue({
		el: '.mui-content',
		data: {	
			activityId:0,
			workList:[]
		}
	});
	
	(function($) {
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		var pageIndex = 1;
		$('.mui-scroll-wrapper').scroll({
			bounce: false,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		$.ready(function() {
			//循环初始化所有下拉刷新，上拉加载。
			$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
				$(pullRefreshEl).pullToRefresh({
					down: {
						callback: function() {
							var self = this;
							var userInfo = app.getState(); 
							if(userInfo.manageId!=undefined && userInfo.manageId!=''){
								app.getEveryoneWorkList(vm_everyone_work.activityId,1,function(data){
									console.info(JSON.stringify(data));
									if(data.code==0){
										if(data.object!=undefined){											
											vm_everyone_work.workList=data.object.rows;
											console.info(JSON.stringify(vm_everyone_work.workList));
										}
									 	pageIndex=1;
									}
									mui.toast(data.msg);
									self.endPullDownToRefresh();
								});
							}else{
								app.gotoLogin();
							}
						}
					},
					up: {
						callback: function() {
							var self = this;
							var aa = index;
							var userInfo = app.getState(); 
							if(userInfo.manageId!=undefined && userInfo.manageId!=''){
								app.getEveryoneWorkList(vm_everyone_work.activityId,pageIndex,function(data){
									console.info(JSON.stringify(data));
									var overFlag = false;
									if(data.code==0){
										if(data.object!=undefined && data.object.rows.length>0){
											console.info(JSON.stringify(data.object.rows));
											vm_everyone_work.workList = vm_everyone_work.workList.concat(data.object.rows);
											
											console.info(JSON.stringify(vm_everyone_work.workList));
										 	pageIndex++;
										}else{
											overFlag=true;
										} 
									} 
									mui.toast(data.msg);
									self.endPullUpToRefresh(overFlag);
								});
							}else{
								app.gotoLogin();
							}
						}
					}
				});
			});
			 
		});
	})(mui);
	
	document.addEventListener('get_every_one_works', function(event) {
		activityId = event.detail.activityId;
		console.info(activityId);
		vm_everyone_work.activityId=activityId;
	});

	//重写返回逻辑
	mui.back = function() {
		plus.webview.currentWebview().hide("auto", 300);
	}
	
	//窗口隐藏时，重置页面数据
	mui.plusReady(function () {
		 
		var self = plus.webview.currentWebview();
		self.addEventListener("hide",function (e) {
			window.scrollTo(0, 0);
			//vm.resetData();
		},false);
		 
		app.getEveryoneWorkList(vm_everyone_work.activityId,1,function(data){
			console.info(JSON.stringify(data));
			if(data.code==0){
				if(data.object!=undefined){											
					vm_everyone_work.workList=data.object.rows;
					console.info(JSON.stringify(vm_everyone_work.workList));
				} 
			}
			mui.toast(data.msg); 
		});
  
	})
	
</script>
</body>
</html>