<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>交流区</title>
    <link href="../css/mui.css" rel="stylesheet"/> 
	<link href="../css/icons-extra.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
  	<link href="../css/foot.css" rel="stylesheet"/>
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/activityList.css" rel="stylesheet"/>
	<link href="../css/school/exchangeArea.css" rel="stylesheet"/>
    <link href="../css/school/pushCommon.css" rel="stylesheet"/>
    <link href="../css/H5MediaFile.css" rel="stylesheet"/>
</head>
<body>
	<div id="exchange_area_content">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">交流区</h1>
	</header>
	
	<div class="bottom-div">
		<!--<img src="../images/school/recording.png"  class="bt-left" id="addAudio"/>-->

		<input type="text" v-model="commentInfo.acaDesc" id="inputContent" style=""/>

		<img src="../images/school/addfile.png"  class="bt-right" id="mediaFile"/>
		<button id="btn_exchange_area_post" type="button" class="mui-btn send-button"> 发送 </button>	
	</div>
	
 	<ul id="history" class="dlist" style="text-align:left;padding:0; position: absolute; bottom: 40px;z-index: 100;">
		 
		<li v-for="item in selectFileList" :class="getShowStyle(item)" >
			<span v-if="1==getShowType(item)" class='iplay'>
				<font class='aname'   @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
			 	<span class='mui-icon mui-icon-close close-color3'   @tap='delUploadFileList(item.patch)'></span>
				<img class='file-icon' src='../images/school/video-icon.png' @tap='displayFile(item.patch)'/>
			</span>
			<span v-else-if="2==getShowType(item)" class='iplay'>
				<font class='aname'  @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
				<span class='mui-icon mui-icon-close close-color1'  @tap='delUploadFileList(item.patch)'></span>
				<img class='file-icon' src='../images/school/photo-icon.png' @tap='displayFile(item.patch)'/>
			</span>
			<span v-else class='iplay'>
				<font class='aname'  @tap='playAudio(item.patch)'>{{ getFileName(item)}}</font>
				<span class='mui-icon mui-icon-close close-color2'  @tap='delUploadFileList(item.patch)'></span>
				<img class='file-icon' src='../images/school/record-icon.png' @tap='playAudio(item.patch)'/>
			</span>
		</li>
	</ul>
	
	
	<div id="item1" class="item-call mui-content mui-control-content mui-fullscreen mui-active" style="top:64px;bottom: 50px;background: #eee;">
	<div id="slider" class="mui-slider mui-fullscreen">					
		<div class="mui-slider-group">
			<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
				<div id="scroll1" class="mui-scroll-wrapper">
					<div class="mui-scroll" style="min-height: 550px;">
						<ul class="mui-table-view">
							<li  class="mui-table-view-cell" v-for="item in acAreaList">
								 <div class="works-answer">
									<img  :src="getImage(item)" class="works-img"/>
									<p class="works-username">{{item.acaStudentName}}&nbsp;<label class="works-time">&nbsp;{{item.acaTime}}</label></p>
									<p class="works-content">{{item.acaDesc}}&nbsp;</p> 
									
									<img v-if="2==getDisplayType(item.acaFiles)" :src="item.acaFiles"  @tap='displayFile(item.acaFiles)' class="works-desc-pic"/>
									
									<!--<img v-if="1==getDisplayType(item.acaFiles)" src="../images/school/video-icon.png"  @tap='displayFile(item.acaFiles)' class="works-desc-pic"/>
									-->
									<video  v-if="1==getDisplayType(item.acaFiles)" :src="item.acaFiles" controls="controls" class="works-desc-video">
										 不支持的文件格式。
									</video>
									<!--<img v-if="3==getDisplayType(item.acaFiles)" src="../images/school/record-icon.png"  @tap='playAudio(item.acaFiles)' class="works-desc-pic"/>
									-->
									<audio v-if="3==getDisplayType(item.acaFiles)"  :src="item.acaFiles" controls="controls" class="works-desc-audio">
										不支持的文件格式。
									</audio>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	<!--<ul id="history" class="dlist" style="text-align:left;padding:0;display: none;"></ul>-->
	
	
	<div id="play" class="rp">
		<div id="ptime" class="ptime">00:00:00/00:00:00</div><br/>
		<div id="progress" class="progress"><div id="schedule" class="schedule"></div></div>
		<br/>
		<div class="stop" onclick="stopPlay()"></div>
	</div>
	<div id="record" class="rp">
		<div style="width:100%;height:20%;"></div>
		<div class="rprogress"><div class="rschedule"></div></div>
		<br/>
		<div id="rtime" class="rtime">00:00:00</div><br/>
		<div class="stop" onclick="stopRecord()"></div>
	</div>
	
	
    <script src="../js/mui.min.js"></script>
	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/mui.pullToRefresh.js"></script>
	<script src="../js/mui.pullToRefresh.material.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/H5Plus.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/immersed.js" ></script>
	<script type="text/javascript" charset="UTF-8">
	  	mui.init();
	  	

		var pageIndex = 1;
		var refurbishFlag=false;
	  	var vm_exchange_area = new Vue({
			el: '#exchange_area_content',
			data: {
				classId:0,
				commentInfo:{
					manageId:0,
					acaStudentId:0,
					acaDesc:'',
					acaFiles:'',
					acaClassId:0,
					acaGradeId:0,
					acaOperType:1
				},
				acAreaList:[
//				{
//	                "acaId": 1,
//	                "acaTime": "2017-08-14 16:07:32",
//	                "acaStudentId": 24,
//	                "acaDesc": "测试交流区显示",
//	                "acaStudentName": "测试200",
//	                "acaFiles": "http://112.124.110.182:11008/upload/SchoolPicture/20170812/B20170812190705_1105263d46aa434b923839281ac0a1fb.png",
//	                "acaClassId": 8,
//	                "acaOperType": 1,
//	                "showStudentPic": "http://112.124.110.182:11008/upload/studentPicture/20170812/B20170812184037_d0959b7a25b64a80ac9bbfa428b7110b.png"
//	            }
            ],
			selectFileList:[]
			},
			methods:{
				getFileName:function(item){
					return item.patch.substr(item.patch.lastIndexOf('/')+1);
				},
				getDisplayType:function(patch){
					var type=0;
					//console.info(patch);
					if(patch){
						var suffix = patch.substr(patch.lastIndexOf('.'));
						if(suffix=='.mov' || suffix=='.3gp' || suffix=='.mp4' || suffix=='.avi'){
							type=1;
						}else if( suffix=='.amr' ||  suffix=='.mp3' || suffix=='.m4a' ){
							type=3;
						}
					 	else  if( suffix=='.jpg' ||  suffix=='.png' || suffix=='.gif' ){
							type=2;
						}
					}
					return type;
				},
				getShowType:function(item){
					var type=0;
					//console.info(JSON.stringify(item));
					var suffix = item.patch.substr(item.patch.lastIndexOf('.'));
					if(item.type==1){
						if(suffix=='.mov' || suffix=='.3gp' || suffix=='.mp4' || suffix=='.avi'){
							type=1;
						}else{
							type=2;
						}
					}else{
						type=3;
					}
					console.info(type);
					return type;
				},
				getShowStyle:function(item){
					var cssStyle="";
					var suffix = item.patch.substr(item.patch.lastIndexOf('.'));
					if(item.type==1){
						if(suffix=='.mov' || suffix=='.3gp' || suffix=='.mp4' || suffix=='.avi'){
							cssStyle="ditem file-color3";
						}else{
							cssStyle="ditem file-color1";
						}
					}else{
						cssStyle="ditem file-color2";
					}
					//console.info(cssStyle);
					return cssStyle;
				}
				,
				getImage:function(item){
					var imageFile="../images/school/head-pic.png";
					if(item.acaOperType==2 &&　item.showTeacherPic!=undefined && item.showTeacherPic!=''){
						imageFile=item.showTeacherPic;
					}else if(item.acaOperType==1 &&　item.showStudentPic!=undefined && item.showStudentPic!=''){
						imageFile=item.showStudentPic;
					}
					return imageFile;
				},
				getCImage:function(item){
					var imageFile="../images/school/head-pic.png";
					if(item.actIsTeacher==1 &&　item.showTeacherPic!=undefined && item.showTeacherPic!=''){
						imageFile=item.showTeacherPic;
					}else if(item.actIsTeacher==2 &&　item.showStudentPic!=undefined && item.showStudentPic!=''){
						imageFile=item.showStudentPic;
					}
					return imageFile;
				}
			}
		});
		
	  	onResizeWindow();
	    window.onresize = onResizeWindow;
	    function onResizeWindow(){
	        $("#inputContent").css("width",$(window).width()-116);
	    }
	  	
		var activityList=[];
		 
		(function($) {
		//阻尼系数
		var deceleration = mui.os.ios?0.003:0.0009;
		$('.mui-scroll-wrapper').scroll({
			bounce: false,
			indicators: true, //是否显示滚动条
			deceleration:deceleration
		});
		$.ready(function() {
			//循环初始化所有下拉刷新，上拉加载。
			$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
				$(pullRefreshEl).pullToRefresh({
					down: {
						callback: function() {
							var self = this;
							pushExchangeAreaDown(self,false);
						}
					},
					up: {
						callback: function() {
							var self = this; 
							pushExchangeAreaUp(self);
						}
					}
				});
			});
			 
		});
	})(mui);
			
	  
	document.addEventListener('get_activity_exchange_area', function(event) {
		vm_exchange_area.classId = event.detail.classId;
 		console.info(JSON.stringify(vm_exchange_area.classId));
 
		pushExchangeAreaDown("",true);
	});
	//重写返回逻辑
	mui.back = function() {
		plus.webview.currentWebview().hide("auto", 300);
	}
	
	//窗口隐藏时，重置页面数据
	mui.plusReady(function () {
		 
		var self = plus.webview.currentWebview();
		self.addEventListener("hide",function (e) {
			window.scrollTo(0, 0);
			//vm.resetData();
		},false);		 
  
		mui('#exchange_area_content').on('tap','#btn_exchange_area_post',function(){
			refurbishFlag=true;
			exchangeAreaPost();
		}); 
		
	})
	
	document.getElementById('mediaFile').addEventListener('tap', function() { 
     	mediaFile('交流区上传媒体文件',0);
    }); 
     
    function pushExchangeAreaDown(self,autoFlag){
    	var userInfo = app.getState(); 
		if(userInfo.manageId!=undefined && userInfo.manageId!=''){
			app.getExchangeAreaList(vm_exchange_area.classId,1,function(data){
				//console.info(JSON.stringify(data));
				if(data.code==0){
					if(data.object!=undefined){
						vm_exchange_area.acAreaList.splice(0,vm_exchange_area.acAreaList.length);
						vm_exchange_area.acAreaList=vm_exchange_area.acAreaList.concat(data.object.rows);
						//console.info(JSON.stringify(vm_exchange_area.acAreaList));
					}
				 	pageIndex=1;
				}else{
					mui.toast(data.msg);
				}
				if(!autoFlag){
					self.endPullDownToRefresh();
				}
			});
		}else{
			app.gotoLogin();
		}
    }
    
    function pushExchangeAreaUp(self){
    	var userInfo = app.getState(); 
		if(userInfo.manageId!=undefined && userInfo.manageId!=''){
			app.getExchangeAreaList(vm_exchange_area.classId,pageIndex+1,function(data){
				var overFlag = false;
				if(data.code==0){
					if(data.object!=undefined && data.object.rows.length>0){
						console.info(JSON.stringify(data.object.rows));
						vm_exchange_area.acAreaList = vm_exchange_area.acAreaList.concat(data.object.rows);
						
					 	pageIndex++;
					}else{
						overFlag=true;
					}
					
				}else{
					mui.toast(data.msg);
				}
				self.endPullUpToRefresh(overFlag);
							
			});
		}else{
			app.gotoLogin();
		}
    }
    
    function exchangeAreaPost(){
    	var userInfo = app.getState();
			var data={};
			data=vm_exchange_area.commentInfo;
			data.manageId=userInfo.manageId;
			data.acaClassId=vm_exchange_area.classId;
			//console.info(JSON.stringify(data));
			data.acaOperType=userInfo.roleType==2?2:1;
			app.postExchangeArea(data,function(data){
				if(data.code==0){
					//mui.back(); 
					vm_exchange_area.commentInfo={};
					if(refurbishFlag){
						refurbishFlag=false;
						pushExchangeAreaDown("",true);
					}
				}
				if(refurbishFlag)
				mui.toast(data.msg);
			});
    }
 
      // 回调
    var exchangeAreaCallback = function(data){
    	if(data.code==0){
    		console.info(JSON.stringify(data));
    		if(data.code==0){
        		//vm_exchange_area.commentInfo.acaFiles=data.objectList[0].pathAll;
        		
				//vm_exchange_area.selectFileList=selectFileList;
				if(selectFileList.length>9){
					selectFileList.splice(9,vm_exchange_area.selectFileList.length-9);
					data.objectList.splice(9,data.objectList._length-9)
					mui.toast('只可以上传九个附件！');
				}
				console.info(JSON.stringify(data.objectList));
				selectFileList.splice(0,selectFileList.length);
				for(var i in data.objectList){
					vm_exchange_area.commentInfo.acaFiles=data.objectList[i].pathAll;
					if(i>=data.objectList-1){
						refurbishFlag=true;
					}
					exchangeAreaPost();
				}
				//pushExchangeAreaDown("",true);
					//vm_exchange_area.selectFileList.splice(0,vm_exchange_area.selectFileList.length);
    		}
    	}else{
    		mui.toast(data.msg);
    	}
		
    }
     
	/**
	 * @param {Object} title 弹窗显示的标题
	 * @param {Object} num 选择图片的数量，为0时num=filesNum
	 */
	function mediaFile(title,num){
		if (mui.os.plus) { 
	        var a = [{ 
	            title: "拍照" 
	        }, { 
	            title: "拍视频" 
	        }, { 
	            title: "从手机相册选择" 
	        }, { 
	            title: "录音" 
	        }]; 
	        plus.nativeUI.actionSheet({ 
	            title: title, 
	            cancel: "取消", 
	            buttons: a 
	        }, function(b) {
	        	if(vm_exchange_area.selectFileList.length>=9){
	        		mui.toast('只可以上传9个附件！');
	        	}else{
		            switch (b.index) { 
		                case 0: 
		                    break; 
		                case 1:
		                    cameraAndUpload(exchangeAreaCallback);
		                    break; 
		                case 2: 
		                    videoAndUpload(exchangeAreaCallback);
		                    break;
		                case 3: 
			                albumAndUpload(num,exchangeAreaCallback);
			                break; 
		                case 4: 
			                startRecord(exchangeAreaCallback);
			                break; 
		                default: 
		                    break; 
		            } 
	            }
	        }) 
	    } 
	}
 
	</script>
</body>
</html>