<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的作品</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/myWorks.css" rel="stylesheet"/>
	<link href="../css/H5MediaFile.css" rel="stylesheet"/>
</head>
<body>
	<div id="my_works_content">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">我的作品</h1>
	</header>
	<div class="mui-content">


		<form >

			<div>

				<label class="label-desc">活动主题 </label>
				<input type="text" v-model="aswName" class="input-content" data-input-password="3" placeholder="请输入活动主题">
			</div>


			<div class="out-div">
				<label class="label-desc-cg">个人成果 </label>
				<textarea v-model="myWorksInfo.aswDesc" id="textarea" rows="3" placeholder="请输入活动体会" class="text-content"></textarea>
			</div>


			
			<ul id="history" class="dlist" style="text-align:left;padding:0;">
				<li v-for="item in selectFileList">
					<span v-if="item.type==1" class='iplay'>
						<font class='aname'   @tap='displayFile(item.patch)'>{{ getFileName(item)}}</font> 
					 	<span class='mui-icon mui-icon-close'   @tap='delUploadFileList(item.patch)'></span>
					</span>
					<span v-else class='iplay'>
						<font class='aname'  @tap='playAudio(item.patch)'>{{ getFileName(item)}}</font> 
						<span class='mui-icon mui-icon-close'  @tap='delUploadFileList(item.patch)'></span>
					</span>
				</li>
			</ul>


			<div class="button buttonContianer">
				<div class="button button1" id="addAudio"></div>
				<div class="button button2" id="addCameraImages"></div>
				<div class="button button3" id="addVideos"></div>
				<div class="button button4" id="addImages"></div>
				<div class="button button5"></div>
			</div>
			<div class="div-tips">附件上限为9个。</div>



		</form>


	</div>

	<div style="height:180px;"></div>
	<button  type="button" id="btn_my_works_post" class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn"> 保 存 </button>

	<div id="play" class="rp">
		<div id="ptime" class="ptime">00:00:00/00:00:00</div><br/>
		<div id="progress" class="progress"><div id="schedule" class="schedule"></div></div>
		<br/>
		<div class="stop" onclick="stopPlay()"></div>
	</div>
	<div id="record" class="rp">
		<div style="width:100%;height:20%;"></div>
		<div class="rprogress"><div class="rschedule"></div></div>
		<br/>
		<div id="rtime" class="rtime">00:00:00</div><br/>
		<div class="stop" onclick="stopRecord()"></div>
	</div>

	<script type="text/javascript" src="../js/mui.picker.js" ></script>
	<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
	<script type="text/javascript" src="../js/H5Plus.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/immersed.js" ></script>
	<script type="text/javascript" charset="UTF-8">
		mui.init();
		var count = 0;
		 
     var vm_my_works = new Vue({
		el: '#my_works_content',
		data: {
				aswName:'',
			myWorksInfo:{
				manageId:0,
				aswDesc:'',
				aswActId:0,
				activityStudentsWorksFilesList:[]
			},
			selectFileList:[]
		},
			methods:{
				getFileName:function(item){
					return item.patch.substr(item.patch.lastIndexOf('/')+1);
				}
			}
	});
    document.addEventListener('get_activity_my_works', function(event) {
 		vm_my_works.myWorksInfo.aswActId = event.detail.activityId; 
 		vm_my_works.aswName = event.detail.actName; 
	});
    
    mui.plusReady(function(){
    	 
		var self = plus.webview.currentWebview();
		self.addEventListener("hide",function (e) {
			window.scrollTo(0, 0);
			//vm.resetData();
		},false);
		
    	$(".buttonContianer").on('tap',function(){
			count ++
			if(count % 2 == 1){
				$(this).addClass('show')
				$(this).children().animate({
					opacity: 1
				})
			}else{
				$(this).removeClass('show')
				$(this).children().animate({
					opacity: 0
				})
			}
		})


        //录音
        document.getElementById('addAudio').addEventListener('tap', function() {
        	if(vm_my_works.selectFileList.length>=9){
        		mui.toast('只可以上传9个附件！');
        	}else{
            	startRecord(myWorksCallback);
            }
        });

        //拍照上传
        document.getElementById('addCameraImages').addEventListener('tap', function() {
        	if(vm_my_works.selectFileList.length>=9){
        		mui.toast('只可以上传9个附件！');
        	}else{
            	cameraAndUpload(myWorksCallback);
            }
        });
        //拍视频上传
        document.getElementById('addVideos').addEventListener('tap', function() {
        	if(vm_my_works.selectFileList.length>=9){
        		mui.toast('只可以上传9个附件！');
        	}else{
            	videoAndUpload(myWorksCallback);
            }
        });

        //相册选择照片上传
        document.getElementById('addImages').addEventListener('tap', function() {
        	if(vm_my_works.selectFileList.length>=9){
        		mui.toast('只可以上传9个附件！');
        	}else{
            	albumAndUpload(0,myWorksCallback);
            }
        });
    	
    	mui('#my_works_content').on('tap','#btn_my_works_post',function(){
			var userInfo = app.getState();
			var data={};
			data=vm_my_works.myWorksInfo;
			data.manageId=userInfo.manageId
			//console.info(JSON.stringify(data));
			app.postMyWorks(data,function(data){
				if(data.code==0){
					selectFileList.splice(0,selectFileList.length);
					mui.back(); 
				}
				mui.toast(data.msg);
			});
		}); 
    })

    mui.back = function() {
		plus.webview.currentWebview().hide("auto", 300);
	}
    
    function getMyWorksFileList(fileList){ 
			var activityStudentsWorksFilesList = [];
			for(var i in fileList){
				activityStudentsWorksFilesList.push({aswfFiles:fileList[i].pathAll,aswfActId:vm_my_works.myWorksInfo.aswActId});				
			}
			return activityStudentsWorksFilesList;
		}
    
    // 回调
	    var myWorksCallback = function(data){
	    	if(data.code==0){
	    		console.info(JSON.stringify(data));
	    		if(data.code==0){
					vm_my_works.selectFileList=selectFileList;
					if(vm_my_works.selectFileList.length>9){
						vm_my_works.selectFileList.splice(9,vm_my_works.selectFileList.length-9);
						mui.toast('只可以上传9个附件！');
					}
					//console.info(JSON.stringify(data.objectList ));
					var activityStudentsWorksFilesList = getMyWorksFileList(data.objectList);
					//console.info(JSON.stringify(activityStudentsWorksFilesList));
					vm_my_works.myWorksInfo.activityStudentsWorksFilesList=vm_my_works.myWorksInfo.activityStudentsWorksFilesList.concat(activityStudentsWorksFilesList);
					
	    		}
	    	}
			mui.toast(data.msg);
	    }
    
</script>

</body>
</html>