<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>学生个人中心</title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<script src="../js/vue.min.js"></script>
	<script src="../js/app.js"></script>
    <link href="../css/school/courseAll.css" rel="stylesheet"/>
  	<link href="../css/foot.css" rel="stylesheet"/>
	<link href="../css/school/studentCenter.css" rel="stylesheet"/>
</head>
<body>
	<div id="personal_center_content">
		
		
	<header class="mui-bar mui-bar-nav" style="height: 260px;
    background: url(../images/school/psct_top.png);background-size: cover">
		<a href="#" id="personal_center_set_link" class="mui-icon mui-icon-compose mui-pull-right" style="text-shadow: 0px 2px 2px #333333"></a>
		<img src="../images/school/head-btm.png" class="head-pic-btm">
		<img src="../images/school/ct-dianzhui.png" class="dz-icon">
		
		<img :src="headPic" class="head-pic">
		<p class="user-name">{{userInfo.realName}}</p>
		<div v-if="userInfo.roleType==3">
			<p class="class-name">年级：{{userInfo.studentsDetail.stdGradeName}} &nbsp;&nbsp;班级：{{userInfo.studentsDetail.stdClassName}}</p> 
			<p class="school-name">学校：{{userInfo.studentsDetail.showSchoolName}}</p> 
		</div>
		<div v-if="userInfo.roleType==2">
			<p class="class-name">{{thGenderName}}</p>
		</div>
		
		
	</header>
	 
	<div class="mui-content1">
		<div v-if="userInfo.roleType==3"  style="margin-top: 20px;">			
			<div class="myh5_card">
				<a id="personal_student_time_line_link" href="#" class="top psct_purple">
					<img src="../images/school/btm-round.png" class="photo">
					<img src="../images/school/foot-icon.png" class="photo1" />
					<p class="title">成长足迹</p>
				</a>
			</div>
	
			<div class="myh5_card">
				<a id="personal_student_honor_link" href="#" class="top psct_purple">
					<img src="../images/school/btm-round.png" class="photo">
					<img src="../images/school/honor-icon.png" class="photo1" />
					<p class="title">我的荣誉</p>
				</a>
			</div>
		</div>
		<div v-if="userInfo.roleType==2" style="margin-top: 20px;">			
			<div id="personal_teacher_ranking_link" class="myh5_card myh5_card2">
				<a href="#" class="top psct_purple">
					<img src="../images/school/tc_02.png" class="photo1" />
					<p class="title">学生点赞数排行榜</p>
				</a>
			</div>	
			<div id="personal_activity_ranking_link" class="myh5_card myh5_card2">
				<a href="#" class="top psct_purple">
					<img src="../images/school/tc_01.png" class="photo1" />
					<p class="title">活动点赞数排行榜</p>
				</a>
			</div>
		</div>
	</div>
	
	</div>
<script type="text/javascript" charset="UTF-8">
  	mui.init();
 	var webview_set_detail_student = null;
	var webview_set_detail_teacher = null;
	var webview_student_time_line = null;
	var webview_student_honor = null;
	var webview_ranking_list = null;
	
	    var vm = new Vue({
			el: '#personal_center_content',
			data: {
					userInfo:{
					roleType:3,
					realName:'姓名',
					teacherDetail:{
						thGender:'M',
						thPic:'http://112.124.110.182:11008/upload/SchoolPicture/20170812/B20170812184009_b00db04f8f8b4dcf9d4a804ecff7a6b5.png'
					},
					studentsDetail:{
//						stdGender:'M',
//						stdGradeName:'1年级',
//						stdClassName:'2班',
//						showSchoolName:'学多多学校',
//						stdPic:'http://112.124.110.182:11008/upload/SchoolPicture/20170812/B20170812184009_b00db04f8f8b4dcf9d4a804ecff7a6b5.png'
						}
				}
			},
			computed: {
			    // a computed getter
			    thGenderName: function () { 
			      return this.userInfo.teacherDetail.thGender=='M'?'男':'女';
			    },
			    stdGenderName: function () { 
			      return this.userInfo.studentsDetail.stdGender=='M'?'男':'女';
			    },
			    headPic:function(){
			    	var pic='../images/school/head-pic.png';
			    	if(this.userInfo.roleType==3 && this.userInfo.studentsDetail.stdPic!=undefined && this.userInfo.studentsDetail.stdPic!=''){
			    		pic=this.userInfo.studentsDetail.stdPic;
			    	}
			    	else if(this.userInfo.roleType==2 && this.userInfo.teacherDetail!=undefined && this.userInfo.teacherDetail.thPic!=''){
			    		pic=this.userInfo.teacherDetail.thPic;
			    	}
			    	return pic;
			    }
			  }
		}); 
		
		mui.plusReady(function () {
			
			var userInfo = app.getState(); 
			console.info(userInfo.roleType);
		    
		    vm.userInfo=userInfo;
		    
			
			webview_set_detail_student = mui.preload({
				url: 'setStudentInfo.html',
				id: 'set_student',
				styles: {
					"render": "always",
					"popGesture": "hide",
					"bounce": "vertical" 
				}
			});
			
			webview_set_detail_teacher = mui.preload({
				url: 'setTeacherfo.html',
				id: 'set_teacher',
				styles: {
					"render": "always",
					"popGesture": "hide",
					"bounce": "vertical" 
				}
			});
			
			mui('#personal_center_content').on('tap', '#personal_center_set_link', function(e) {
			    //获取目标子页的id
			   open_set_detail(userInfo);
			});
			
			webview_student_time_line = mui.preload({
				url: 'timeline.html',
				id: 'time_line',
				styles: {
					"render": "always",
					"popGesture": "hide",
					"bounce": "vertical" 
				}
			});
			
			webview_student_honor = mui.preload({
				url: 'myHonor.html',
				id: 'my_honor',
				styles: {
					"render": "always",
					"popGesture": "hide",
					"bounce": "vertical" 
				}
			});
			
			webview_ranking_list = mui.preload({
				url: 'rankingList.html',
				id: 'ranking_list',
				styles: {
					"render": "always",
					"popGesture": "hide",
					"bounce": "vertical" 
				}
			});
			
			
			
			
			mui('#personal_center_content').on('tap', '#personal_student_time_line_link', function(e) {
			    //获取目标子页的id
			   open_time_line_detail(userInfo);
			});
			mui('#personal_center_content').on('tap', '#personal_student_honor_link', function(e) {
			    //获取目标子页的id
			   open_student_honor_detail(userInfo);
			});
			
			 
			mui('#personal_center_content').on('tap', '#personal_teacher_ranking_link', function(e) { 
			   open_ranking_list(1); 
			});
			mui('#personal_center_content').on('tap', '#personal_activity_ranking_link', function(e) { 
			   open_ranking_list(2);
			});
			
			
			
			
			
			mui('#main_bar').on('tap', 'a', function(e) {
			    //获取目标子页的id
			    var targetTab = this.getAttribute('href');
			    window.location.href=targetTab;
			});
			
			
//	var webview_student_time_line = null;
//	var webview_student_honor = null;
			
//			
			var backButtonPress = 0;
			mui.back = function(event) {
				backButtonPress++;
				if (backButtonPress > 1) {
					plus.runtime.quit();
					app.logout();
				} else {
					plus.nativeUI.toast('再按一次退出应用');
				}
				setTimeout(function() {
					backButtonPress = 0;
				}, 1000);
				return false;
			}; 
			
		})
		
		function open_set_detail(userInfo){			
			if(userInfo.roleType==2){
				mui.fire(webview_set_detail_teacher, 'get_set_teacher', {
					teacherInfo: userInfo.teacherDetail
				});	 
				setTimeout(function () {
						webview_set_detail_teacher.show("slide-in-right", 300);
				},150);
			}else{
				mui.fire(webview_set_detail_student, 'get_set_student', {
					studentInfo: userInfo.studentsDetail
				});	 
				setTimeout(function () {
						webview_set_detail_student.show("slide-in-right", 300);
				},150);
			}
		}
		function  open_time_line_detail(userInfo){			
			mui.fire(webview_student_time_line, 'get_time_line', {
				userInfo: userInfo
			});	 
			setTimeout(function () {
					webview_student_time_line.show("slide-in-right", 300);
			},150);
		}
		function  open_student_honor_detail(userInfo){
			mui.fire(webview_student_honor, 'get_my_honor', {
				userInfo: userInfo
			});	
			setTimeout(function () {
					webview_student_honor.show("slide-in-right", 300);
			},150);
		}
		
		function open_ranking_list(showType){			
			mui.fire(webview_ranking_list, 'get_ranking_list', {
				showType: showType
			});	
			setTimeout(function () {
					webview_ranking_list.show("slide-in-right", 300);
			},150);
		}
</script>
</body>
</html>