<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>修改老师信息</title>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/mui.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/vue.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="../css/app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/mui.picker.min.css" />
    <link rel="stylesheet" href="../css/mui.poppicker.css" />
	<link href="../css/dashboard.css" rel="stylesheet"/>
	<link href="../css/top.css" rel="stylesheet"/>
	<link href="../css/school/setMsgInfo.css" rel="stylesheet"/>
</head>
<body>
	
	<div id="teacher_info_content">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<a id="modify_password" class="mui-pull-right setPwd"> 修改密码 </a>
		<img src="../images/head-dz.png" class="head-dz"/>
		<h1 class="mui-title">修改老师信息</h1>
	</header>
	<div class="mui-content">
		<form class="mui-input-group">
			<div class="head-div">
				<img :src="headPic" @tap="setTeacherHeadImage()"  class="head-pic" id="headImage">
				<p style="font-size: 12px !important;margin-bottom: 12px;opacity: .5;">点击图片，上传新头像。</p>
			</div> 
			<div class="mui-input-row">
				<label>姓名 <span style="color:red;"> *</span></label>
				<input type="text" v-model="teacherInfo.thName" placeholder="姓名"/>
			</div> 
			<div class="mui-input-row">
				<label>性别 <span style="color:red;"> *</span></label>
				<input type="text" v-model="thGenderName" placeholder="性别"/>
			</div> 
			<div class="mui-input-row">
				<label>电话号码 <span style="color:red;"> *</span></label>
				<input type="text"  v-model="teacherInfo.thPhs" placeholder="电话号码"/>
			</div> 
			<div class="mui-input-row">
				<label>详细地址 <span style="color:red;"> *</span></label>
				<input type="text"  v-model="teacherInfo.thAddress" placeholder="详细地址"/>
			</div> 
		</form>
		<div style="padding:32px;background-color:#F7F7F7;">
			<button id="btn_set_teacher_post" type="button" class="mui-btn mui-btn-primary mui-btn-block besttone-full-btn">确定</button>
		</div>
	</div>
	</div> 
<script type="text/javascript" src="../js/mui.picker.js" ></script>
<script type="text/javascript" src="../js/mui.poppicker.js" ></script>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" charset="UTF-8">
	mui.init();

	var webview_set_password = null;
	
  	(function($,doc){
  		$.init();
  		$.ready(function(){

  		});
  	})(mui,document);
  	
  	document.getElementById('headImage').addEventListener('tap', function() { 
     	cameraAndAlbum('修改用户头像',1);
     });
      
    var vm_set_teacher = new Vue({
		el: '#teacher_info_content',
		data: {
			teacherInfo:{
				manageId:0,
//				thName:'李四',
//				thPhs:'1393223333',
		 		thGender:'M',
//		 		thAddress:'XXaddress',
//				thPic:'http://112.124.110.182:11008/upload/SchoolPicture/20170812/B20170812184009_b00db04f8f8b4dcf9d4a804ecff7a6b5.png'
			}
		},
		computed: {
		    headPic:function(){
		    	var pic='../images/school/head-pic.png';
		    	if( this.teacherInfo.thPic!=undefined && this.teacherInfo.thPic!=''){
		    		pic=this.teacherInfo.thPic;
		    	}
		    	return pic;
		    },
		    thGenderName:  {
		        get: function () {
			    	 return this.teacherInfo.thGender=='M'?'男':'女';
			    },
			    set: function (newValue) {
			    	if(newValue=='男'){
			    		this.teacherInfo.thGender='M';
			    	}else{
			    		this.teacherInfo.thGender='F';
			    	}
			    }
		    }
		}
	}); 
    
    document.addEventListener('get_set_teacher', function(event) {
    	var userInfo = app.getState();
		vm_set_teacher.teacherInfo = userInfo.teacherDetail;
	});
	
  	mui.plusReady(function(){
		webview_set_password = mui.preload({
			url: 'setPassword.html',
			id: 'set_password',
			styles: {
				"render": "always",
				"popGesture": "hide",
				"bounce": "vertical" 
			}
		});
			
		
		mui('#teacher_info_content').on('tap', '#btn_set_teacher_post', function(e) {
			  post_set_teacher_info();
			});
			
			
			
  		mui('#student_info_content').on('tap', '#modify_password', function(e) {
		  mui.fire(webview_set_password, 'get_set_teacher', {
			});	 
			setTimeout(function () {
					webview_set_password.show("slide-in-right", 300);
			},150);
		});
  	})
  	function post_set_teacher_info(){ 
			var data={};
			data=vm_set_teacher.teacherInfo; 
			data.manageId=userInfo.manageId;
			console.info(JSON.stringify(data));
			app.postSetTeacherInfo(data,function(data){
				if(data.code==0){ 
					selectFileList.splice(0,selectFileList.length);	
			    	var userInfo = app.getState();
					userInfo.teacherDetail = vm_set_teacher.teacherInfo  ;
					userInfo.realName=vm_set_teacher.teacherInfo.thName;
					app.setState(userInfo);
				}
				mui.toast(data.msg);
			});
			 
  	}
  	
  	 function setTeacherHeadImage() {
     	cameraAndAlbum('修改用户头像',1, setTeacherImageCallback);
     }
  	 
  	 // 回调
    var setTeacherImageCallback = function(data){
    	if(data.code==0){
    		console.info(JSON.stringify(data));
    		if(data.code==0){
        		vm_set_teacher.teacherInfo.thPic=data.objectList[0].pathAll; 
    		}
    	}
		mui.toast(data.msg);
    }
    
    
  	//重写返回逻辑
	mui.back = function() {
		plus.webview.currentWebview().hide("auto", 300);
	}
</script>
</body>
</html>